/* Badge.css */
.badge {
	padding: 8px 0 8px 0;
	min-width: 40px;
	width: auto;
	text-align: center;
	vertical-align: middle;
	font-family: "Mochi Bold Italic";
	font-size: 12pt;
	height: 24px;
	line-height: 24px;
	min-width: 24px;
	width: auto;
	text-align: center;
	vertical-align: middle;
	/*FIXME: debug purposes only*/
	background-color: #69CDFF;
	/*Badges are now by default round */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	-moz-border-radius: 20px; /* Firefox */
  	border-radius: 20px; /* CSS3 */
  	padding: 6px;
}
.badge.oval {
	-webkit-border-radius: 12px; /* Safari, Chrome */
	-moz-border-radius: 12px; /* Firefox */
  	border-radius: 12px; /* CSS3 */
  	padding-left: 6px;
  	padding-right: 6px;
}
