/* Button.css */
.button {
	position: relative;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	white-space: nowrap;
  	font-size:1.5rem;
    line-height:1.5rem;
}
.button:focus {
	outline: none;
}
.button::-moz-focus-inner {
	border: 0px;
}
.button-bar {
	position: absolute;
	top: 35px;
	left: 0px;
	height: 1px;
	width: 0px;
	background-color: #69cdff;
}
.button > .button-bar {
	background-color: transparent;
	-webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
	-ms-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}
.button:active:hover:not([disabled]) > .button-bar {
	background-color: #69cdff;
}
.button.active > .button-bar {
	background-color: #69cdff;
}
.button.disabled {
	opacity: 0.4;
}
.button-warning > .button-base {
	color: #ff4a4a;
}
.button:active:hover:not([disabled]).button-warning > .button-bar {
	background-color: #ff4a4a;
}
.button.active.button-warning > .button-bar {
	background-color: #ff4a4a;
}

.button > .button-base {
	margin: 3px;
    margin-right: 5px;
	padding: 0px;
	line-height: inherit;
  	font-size:70%;
}
.view-select-button > .button-base {
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
    font-size:inherit;
}
.button-base {
	display: inline-block;
	font-family: "Mochi Bold Oblique";
    font-size:inherit;
	color: #323232;
	font-style: oblique;
	font-weight: bold;
	border-width: 0px;
	background-color: transparent;
	letter-spacing: normal;
	margin: 2px;
	padding: 1px 0px;
	white-space: nowrap;
	height: initial;

	-webkit-transition: letter-spacing 0.1s ease-in-out;
	-moz-transition: letter-spacing 0.1s ease-in-out;
	-o-transition: letter-spacing 0.1s ease-in-out;
	-ms-transition: letter-spacing 0.1s ease-in-out;
	transition: letter-spacing 0.1s ease-in-out;
}
