/* ButtonColors.css */

.button-affirmative > .button-base, .button-affirmative > .button-decorator {
  color: #00dd11;
}
.button:active:hover:not([disabled]).button-affirmative > .button-bar {
  color: #00dd11;
}
.button.active.button-affirmative > .button-bar {
  color: #00dd11;
}


.button-blue > .button-base, .button-blue > .button-decorator {
  color: #35A8EE;
}
.button:active:hover:not([disabled]).button-blue > .button-bar {
  color: #35A8EE;
}
.button.active.button-blue > .button-bar {
  color: #35A8EE;
}

