/* Checkbox.css */
input[type='checkbox']
{
    display: inline-block;

    width: 22px;
    height: 22px;
    margin: 0;

    cursor: pointer;
    -webkit-transition: background-color .1s linear;
       -moz-transition: background-color .1s linear;
         -o-transition: background-color .1s linear;
            transition: background-color .1s linear;
    vertical-align: middle;

    border: 2px solid #646464;
    border-radius: 13px;
}
input[type='checkbox']:checked
{
    padding: 2px;

    border-width: 0;
    background: url(../images/checkbox.png) no-repeat;
}
input[type='checkbox']:disabled
{
    opacity: .4;
}
