/* Header.css */
.header
{
    height: 64px;
    padding: 0 32px;

    white-space: nowrap;
}
.header-content
{
    font-family: 'Mochi Light';
    font-size: 36px;
    line-height: 32px;

    display: inline-block;
    overflow: hidden;

    padding-top: 30px;

    vertical-align: text-bottom;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;

    color: #4b4b4b;
}
.header-controls
{
    display: inline-block;

    padding-top: 2px;

    vertical-align: bottom;
}
.header-controls-first
{
    padding-left: 56px;
}
.header-controls > *
{
    display: inline-block;

    white-space: nowrap;
}
