/* ToggleButton.css */
.toggle-button
{
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;

    display: inline-block;

    min-width: 48px;
    height: 24px;

    vertical-align: middle;
    text-transform: uppercase;

    color: white;
    border-radius: 12px;
    background-size: auto 100%;
}
.toggle-button-knob
{
    position: relative;
    left: 0;

    overflow: hidden;

    width: 20px;
    height: 20px;
    margin: 2px;

    border-radius: 10px;
    background-color: white;
}
.toggle-button.disabled
{
    opacity: .4;

    filter: alpha(opacity=40);
}
.toggle-animate
{
    -webkit-transition: background-color .1s linear;
       -moz-transition: background-color .1s linear;
         -o-transition: background-color .1s linear;
            transition: background-color .1s linear;
}
