/* Fonts */
/* ---------------------------------------*/
@font-family: "Mochi Bold Oblique";
@font-size-small: 14px;
@font-size-medium: 16px;
@font-size-large: 20px;

@button-font-size: @font-size-medium;
@font-size: @font-size-large;

/* Text Colors */
/* ---------------------------------------*/
@button-text-color: #292929;
@text-color: #333333;

/* Background Colors */
/* ---------------------------------------*/
@background: #F5F5F5;
@selected-background: #C4E3FE;
@highlight-background: #DEDFDF;

/* Disabled Opacity */
/* ---------------------------------------*/
@disabled-opacity: 0.4;


/* Spinner */
/* ---------------------------------------*/
@spinner-dark-image: url(../images/spinner-dark.gif);
@spinner-light-image: url(../images/spinner-light.gif);
@spinner-image-width: 52px;
@spinner-image-height: 52px;
@spinner-large-dark-image: url(../images/spinner-large-dark.gif);
@spinner-large-light-image: url(../images/spinner-large-light.gif);

/*Styleguide FIXME: needs to be merged with stuff above*/

@color-primary: #FEC73F;
@color-secondary: #A2A2A1;
@color-success: #2FBC9F;
@color-alert: #FF4A4A;
@color-warning: #69CDFF;

@action-color: #69CDFF;
