/* ViewSelector */
.view-select-button
{
    position: relative;

    margin: 0;
    padding: 0;
}
.view-select-button > .button-base:active:hover:not([disabled])
{
    letter-spacing: 2px;
}
.view-select-button > .button-base[disabled]
{
    opacity: .4;
}
