/* Mochi default parameters defined here */
/* Fonts */
/* ---------------------------------------*/
/* Text Colors */
/* ---------------------------------------*/
/* Background Colors */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Spinner */
/* ---------------------------------------*/
/*Styleguide FIXME: needs to be merged with stuff above*/
/* Mochi rules defined here */
/* classes.less - combined CSS (less) files for all released mochi controls
   into single mochi.less file to avoid IE bug that allows
   a maximum of 31 style sheets to be loaded before silently failing */
/* Import font styles */
/* due to licensing, we have the open-source Lato as a fallback when Prelude is
   not available. However, since Prelude is aparently never available, let's
   just remove it and get done with it, the last time you see Prelude should
   be here, in this comment, and no where more, R.I.P Preulde :[  */
@font-face {
  font-family: 'Mochi Light';
  font-weight: normal;
  font-style: normal;
  src: local('☺'), url('../fonts/lato-light.woff') format('woff'), url('../fonts/lato-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Mochi Medium';
  font-weight: normal;
  font-style: normal;
  src: local('☺'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mochi Medium';
  font-style: italic;
  src: local('☺'), url('../fonts/lato-italic.woff') format('woff'), url('../fonts/lato-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Mochi Bold Italic';
  font-weight: normal;
  font-style: normal;
  src: local('☺'), url('../fonts/lato-bolditalic.woff') format('woff'), url('../fonts/lato-bolditalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Mochi Condensed Med';
  font-weight: normal;
  font-style: normal;
  src: local('☺'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mochi Med Oblique';
  font-weight: normal;
  font-style: oblique;
  src: local('☺'), url('../fonts/lato-italic.woff') format('woff'), url('../fonts/lato-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Mochi Bold';
  font-weight: bold;
  font-style: normal;
  src: local('☺'), url('../fonts/lato-bold.woff') format('woff'), url('../fonts/lato-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Mochi Bold Oblique';
  font-weight: bold;
  font-style: oblique;
  src: local('☺'), url('../fonts/lato-bolditalic.woff') format('woff'), url('../fonts/lato-bolditalic.ttf') format('truetype');
}
/* Prevent browser's default focus treatment (at least in Chrome) */
:focus {
  outline: none;
}
body {
  font-family: 'Mochi Bold Oblique';
  font-size: 20px;
  cursor: default;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 169px rgba(0, 0, 0, 0.3);
  /* remove automatic tap highlight color */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* prevent IE from inheriting line-height for these elements */
button,
label,
input {
  line-height: normal;
}
a,
a:hover {
  text-decoration: none;
  color: #69cdff;
}
*::selection {
  background-color: #c4e3fe;
}
/* style that removes transition effects from elements */
.no-animate {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.item {
  font-family: 'Mochi Med Oblique';
  font-size: 14px;
  font-style: oblique;
  color: #323232;
}
.toolbar-inline > * {
  display: inline-block;
  box-sizing: border-box;
  margin: 4px 6px 5px;
  vertical-align: middle;
}
/* LESS pre-calculations */
/* Individual Widget CSS */
/* Badge.css */
.badge {
  font-family: 'Mochi Bold Italic';
  font-size: 12pt;
  line-height: 24px;
  width: auto;
  min-width: 40px;
  min-width: 24px;
  height: 24px;
  padding: 8px 0 8px 0;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  /*Badges are now by default round */
  -webkit-border-radius: 20px;
  /* Safari, Chrome */
  -moz-border-radius: 20px;
  /* Firefox */
  border-radius: 20px;
  /* CSS3 */
  /*FIXME: debug purposes only*/
  background-color: #69cdff;
}
.badge.oval {
  padding-right: 6px;
  padding-left: 6px;
  -webkit-border-radius: 12px;
  /* Safari, Chrome */
  -moz-border-radius: 12px;
  /* Firefox */
  border-radius: 12px;
  /* CSS3 */
}
/* Button.css */
button {
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
  background-color: transparent;
}
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.button-bar {
  position: absolute;
  top: 35px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #69cdff;
}
button > .button-bar {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: transparent;
}
button:active:hover:not([disabled]) > .button-bar {
  background-color: #69cdff;
}
button.active > .button-bar {
  background-color: #69cdff;
}
button.disabled {
  opacity: .4;
}
.warning > .button-base {
  color: #ff4a4a;
}
button:active:hover:not([disabled]).warning > .button-bar {
  background-color: #ff4a4a;
}
button.active.warning > .button-bar {
  background-color: #ff4a4a;
}
button > .button-base {
  font-size: 70%;
  line-height: inherit;
  margin: 3px;
  margin-right: 5px;
  padding: 0;
}
.view-select-button > .button-base {
  font-size: inherit;
  line-height: 34px;
  height: 34px;
  vertical-align: middle;
}
.button-base {
  font-family: 'Mochi Bold Oblique';
  font-size: inherit;
  font-weight: bold;
  font-style: oblique;
  display: inline-block;
  height: initial;
  margin: 2px;
  padding: 1px 0;
  -webkit-transition: letter-spacing 0.1s ease-in-out;
  -moz-transition: letter-spacing 0.1s ease-in-out;
  -ms-transition: letter-spacing 0.1s ease-in-out;
  -o-transition: letter-spacing 0.1s ease-in-out;
  transition: letter-spacing 0.1s ease-in-out;
  white-space: nowrap;
  letter-spacing: normal;
  color: #323232;
  border-width: 0;
  background-color: transparent;
}
/* ButtonColors.css */
.button-affirmative > .button-base,
.button-affirmative > .button-decorator {
  color: #0d1;
}
.button:active:hover:not([disabled]).button-affirmative > .button-bar {
  color: #0d1;
}
.button.active.button-affirmative > .button-bar {
  color: #0d1;
}
.button-blue > .button-base,
.button-blue > .button-decorator {
  color: #35a8ee;
}
.button:active:hover:not([disabled]).button-blue > .button-bar {
  color: #35a8ee;
}
.button.active.button-blue > .button-bar {
  color: #35a8ee;
}
/* ButtonDecorator.css */
.button-decorator {
  font-family: 'Mochi Bold';
  font-size: inherit;
  font-weight: bold;
  display: inline-block;
  color: #4b4b4b;
}
.button-decorator-bookened {
  font-size: inherit;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.button > .button-decorator-left {
  font-size: inherit;
  padding: 0;
  /* Iffy method - prevents flickering in Chrome */
  /*
	-webkit-transition: padding 0.1s ease-in-out;
	-moz-transition: padding 0.1s ease-in-out;
	-o-transition: padding 0.1s ease-in-out;
	-ms-transition: padding 0.1s ease-in-out;
	transition: padding 0.1s ease-in-out;
	*/
  /* Preferred method */
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.1s ease-in-out;
  -ms-transition: -ms-transform 0.1s ease-in-out;
  -o-transition: -o-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
.button:active:hover:not([disabled]) > .button-decorator-left {
  -webkit-transform: translateX(-4px);
  -moz-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  -o-transform: translateX(-4px);
  transform: translateX(-4px);
}
.button > .button-decorator-right {
  font-size: inherit;
  padding: 0;
  /* Iffy method - prevents flickering in Chrome */
  /*
	-webkit-transition: padding 0.1s ease-in-out;
	-moz-transition: padding 0.1s ease-in-out;
	-o-transition: padding 0.1s ease-in-out;
	-ms-transition: padding 0.1s ease-in-out;
	transition: padding 0.1s ease-in-out;
	*/
  /* Preferred method */
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.1s ease-in-out;
  -ms-transition: -ms-transform 0.1s ease-in-out;
  -o-transition: -o-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
.button:active:hover:not([disabled]) > .button-decorator-right {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}
/* Icon.css & IconButton.css */
.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.icon-button-item {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 2px;
  padding: 1px 0;
  border-width: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-button-item:active:hover:not([disabled]) > .icon {
  background-position: 0 -24px;
}
.icon-button-item.disabled {
  opacity: .4;
}
.icon-button {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-width: 0;
  background-color: transparent;
}
.icon-button > .button-bar {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: transparent;
}
.icon-button:active:hover:not([disabled]) > .button-bar {
  background-color: #69cdff;
}
.icon-button.active > .button-bar {
  background-color: #69cdff;
}
.icon-button.disabled {
  opacity: .4;
}
.icon-button-bar {
  top: 38px;
}
/* ViewSelector */
.view-select-button {
  position: relative;
  margin: 0;
  padding: 0;
}
.view-select-button > .button-base:active:hover:not([disabled]) {
  letter-spacing: 2px;
}
.view-select-button > .button-base[disabled] {
  opacity: .4;
}
/* RadioButton.css */
input[type='radio'] {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  vertical-align: middle;
  border: 2px solid #646464;
  border-radius: 13px;
}
input[type='radio']:disabled {
  border-color: #a2a2a2;
}
/* Checkbox.css */
input[type='checkbox'] {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  vertical-align: middle;
  border: 2px solid #646464;
  border-radius: 13px;
}
input[type='checkbox']:checked {
  padding: 2px;
  border-width: 0;
  background: url(../images/checkbox.png) no-repeat;
}
input[type='checkbox']:disabled {
  opacity: .4;
}
/* Input.css */
input {
  font-family: 'Mochi Medium';
  /* FIXME: hack for styling reset on Android */
  /* -webkit-appearance: caret;*/
  font-size: 14px;
  font-style: italic;
  height: inherit;
  /* reset */
  margin: 0;
  padding: 1px 8px 5px 8px;
  cursor: pointer;
  -webkit-transition: border-color 0.1s linear;
  -moz-transition: border-color 0.1s linear;
  -o-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  color: #4b4b4b;
  border: 1px solid;
  border-color: #a2a2a2;
  border-radius: 16px;
  outline: none;
  background-color: white;
  box-shadow: none;
}
input:focus {
  cursor: text;
  border-color: #69cdff;
}
input:disabled {
  cursor: default;
  opacity: .4;
}
input::-webkit-input-placeholder {
  color: #7d7d7d;
}
input:-moz-placeholder {
  color: #7d7d7d;
}
/* IE10 */
input:-ms-input-placeholder {
  color: #7d7d7d;
}
/* RichText.css */
.input-decorator > .richtext {
  font-family: 'Mochi Medium';
  /* FIXME: hack for styling reset on Android */
  /* -webkit-appearance: caret;*/
  font-size: 14px;
  font-style: italic;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #4b4b4b;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
.input-decorator.focused > .richtext {
  cursor: text;
}
.input-decorator.disabled > .richtext {
  cursor: default;
}
/* Pasting rich text adds <p> tag with a margin-top value of 16px */
.richtext > p {
  margin-top: 0;
}
/* ProgressBar.css */
.progress-bar {
  min-width: 128px;
  height: 1px;
  background-color: #a2a2a2;
}
.progress-bar-bar {
  height: 100%;
  background-color: #69cdff;
}
/* ProgressText.css */
.progress-text {
  font-family: 'Mochi Med Oblique';
  font-size: 12px;
  font-style: oblique;
  margin: 24px 16px 0;
  color: #a2a2a2;
}
.progress-text-box {
  position: relative;
  overflow: hidden;
  height: 24px;
}
.progress-text-underwear {
  line-height: 12px;
  position: absolute;
  display: inline-block;
  color: #a2a2a2;
}
.progress-text-outerwear {
  line-height: 12px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: #69cdff;
}
/* Slider.css */
.slider {
  position: relative;
  margin: 10px 20px;
}
.slider-taparea {
  position: absolute;
  top: -16px;
  width: 100%;
  height: 32px;
}
.slider-knob {
  position: relative;
  width: 16px;
  height: 16px;
  margin: -8px -9px;
  border-radius: 8px;
  background-color: #69cdff;
}
.slider-knob.active,
.slider-knob:active:hover {
  width: 36px;
  height: 36px;
  margin: -18px -20px;
  border-radius: 18px;
}
.slider-popup {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  display: block;
  width: 62px;
  height: 37px;
  padding-left: 4px;
}
.slider-popup-label {
  font-family: 'Mochi Medium';
  font-size: 14px;
  line-height: 32px;
  position: absolute;
  top: 1px;
  width: 60px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
}
.slider-popup.above {
  top: -56px;
}
/* below is commented out pending HI approval */
/*
.slider-popup.below {
	top: 25px;
}
*/
/* Spinner.css */
.spinner {
  display: inline-block;
  width: 52px;
  height: 52px;
  background-image: url(../images/spinner-dark.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.spinner.light {
  background-image: url(../images/spinner-light.gif);
}
.spinner.large {
  width: 100%;
  background-image: url(../images/spinner-large-dark.gif);
}
.spinner.large.light {
  width: 100%;
  background-image: url(../images/spinner-large-light.gif);
}
.spinner.spinner-center {
  background-position: center 0;
}
/* TextArea.css */
/* TODO: needs more proper styling to be honest...*/
textarea {
  font-family: 'Mochi Medium';
  /* FIXME: hack for styling reset on Android */
  /* -webkit-appearance: caret;*/
  font-size: 14px;
  font-style: italic;
  overflow: auto;
  /* need >=50px for scrollbar to be usable on mac */
  min-height: 50px;
  margin: 10px 0 6px;
  padding: 0;
  /* Remove scrollbars and resize handle */
  resize: none;
  cursor: pointer;
  color: #4b4b4b;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
textarea:focus {
  cursor: text;
}
textarea:disabled {
  cursor: default;
}
textarea::-webkit-scrollbar {
  width: 4px;
}
textarea::-webkit-scrollbar-track-piece {
  margin-top: 4px;
  margin-bottom: 0;
  -webkit-border-radius: 10px;
  background-color: #fff;
}
textarea::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  -webkit-border-radius: 10px;
  background-color: #7d7d7d;
}
/* ToggleButton.css */
.toggle-button {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  display: inline-block;
  min-width: 48px;
  height: 24px;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  border-radius: 12px;
  background-size: auto 100%;
}
.toggle-button-knob {
  position: relative;
  left: 0;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 10px;
  background-color: white;
}
.toggle-button.disabled {
  opacity: .4;
  filter: alpha(opacity=40);
}
.toggle-animate {
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
/* Header.css */
.header {
  height: 64px;
  padding: 0 32px;
  white-space: nowrap;
}
.header-content {
  font-family: 'Mochi Light';
  font-size: 36px;
  line-height: 32px;
  display: inline-block;
  overflow: hidden;
  padding-top: 30px;
  vertical-align: text-bottom;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #4b4b4b;
}
.header-controls {
  display: inline-block;
  padding-top: 2px;
  vertical-align: bottom;
}
.header-controls-first {
  padding-left: 56px;
}
.header-controls > * {
  display: inline-block;
  white-space: nowrap;
}
/* Subheader.css */
.subheader {
  height: 56px;
  padding: 0 32px;
  white-space: nowrap;
}
.subheader-content {
  font-family: 'Mochi Medium';
  font-size: 18px;
  font-style: italic;
  /* 56px height */
  line-height: 26px;
  overflow: hidden;
  padding-top: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #323232;
}
/* Collapsable.css */
.collapsable-header {
  font-family: 'Mochi Medium';
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  padding: 0 32px 0 32px;
  color: #323232;
}
.collapsable-item {
  font-family: 'Mochi Medium';
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0 0 48px 32px;
  color: #4b4b4b;
}
.collapsable-footer {
  height: 16px;
  border-top: 0 transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 32px;
  background-color: #f5f5f5;
}
.contextual-popup-title {
  font-weight: bold;
  padding: 24px 32px 0;
}
.contextual-popup-scroller {
  padding: 24px 32px;
}
.contextual-popup-action-buttons {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.contextual-popup,
.mochi.contextual-popup {
  font-size: 14px;
  min-width: 150px;
  margin-top: 2px;
  padding: 6px;
  color: #4b4b4b;
  border: 2px solid #646464;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.44);
}
/*setup the nub*/
.contextual-popup::after {
  position: absolute;
  content: '';
}
/*for popups above activator*/
.contextual-popup.vertical.above {
  top: auto;
  bottom: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
}
/*for popups below activator*/
.contextual-popup.vertical.below {
  margin-top: 20px;
}
/*for popups on the left of the activator*/
.contextual-popup.right.horizontal {
  margin-left: -11px;
}
/*for popups on the right of the activator*/
.contextual-popup.left.horizontal {
  margin-left: 10px;
}
/****nub positioning for vertical popups****/
/*horizontally centered nub*/
.contextual-popup.vertical::after {
  position: absolute;
  top: -20px;
  left: 34%;
  width: 71px;
  height: 20px;
  content: '';
  background: transparent url(../images/contextual-popup-nubs/up.png) no-repeat;
}
/*nub near horizontal left*/
.contextual-popup.vertical.right::after {
  left: 0%;
  margin-left: 20px;
}
/*nub near horizontal right*/
.contextual-popup.vertical.left::after {
  left: 100%;
  margin-left: -90px;
}
/*downward facing nub*/
.contextual-popup.vertical.above::after {
  top: 100%;
  width: 71px;
  height: 20px;
  background: transparent url(../images/contextual-popup-nubs/down.png) no-repeat;
}
.contextual-popup.vertical.below.right::after {
  top: 0%;
  width: 71px;
  height: 20px;
  margin-top: -20px;
  background: transparent url(../images/contextual-popup-nubs/up.png) no-repeat;
}
.contextual-popup.vertical.below.left::after {
  top: 0%;
  width: 71px;
  height: 20px;
  margin-top: -20px;
  background: transparent url(../images/contextual-popup-nubs/up.png) no-repeat;
}
/****nub positioning for left/right popups****/
/*vertically centered nub for popups on left of activator*/
.contextual-popup.right::after {
  top: 35%;
  left: 100%;
  width: 20px;
  height: 71px;
  background: transparent url(../images/contextual-popup-nubs/right.png) no-repeat;
}
/*nub near vertical top for popups on left of activator*/
.contextual-popup.right.high::after {
  top: 25px;
}
/*nub near vertical bottom for popups on left of activator*/
.contextual-popup.right.low::after {
  top: 100%;
  margin-top: -100px;
}
/*vertically centered nub for popups on right of activator*/
.contextual-popup.left::after {
  top: 35%;
  left: 0%;
  width: 20px;
  height: 71px;
  margin-left: -20px;
  background: transparent url(../images/contextual-popup-nubs/left.png) no-repeat;
}
/*nub near vertical top for popups on right of activator*/
.contextual-popup.left.high::after {
  top: 25px;
}
/*nub near vertical bottom for popups on right of activator*/
.contextual-popup.left.low::after {
  top: 100%;
  margin-top: -100px;
}
/*********************corners********************/
/*vertical top corners*/
/*for popups on the left of the activator*/
.contextual-popup.vertical.right.corner {
  margin-left: 0;
}
/*for popups on the right of the activator*/
.contextual-popup.vertical.left.corner {
  margin-left: 0;
}
.contextual-popup.vertical.below.left.corner {
  border-top-right-radius: 0;
}
.contextual-popup.vertical.below.right.corner {
  border-top-left-radius: 0;
}
.contextual-popup.vertical.below.left.corner::after {
  top: 0%;
  left: 100%;
  width: 71px;
  height: 20px;
  margin-top: -14px;
  margin-left: -30px;
  background: transparent url(../images/contextual-popup-nubs/top-right-corner-up.png) no-repeat;
}
.contextual-popup.vertical.below.right.corner::after {
  top: 0%;
  left: 0%;
  width: 71px;
  height: 20px;
  margin-top: -14px;
  margin-left: -2px;
  background: transparent url(../images/contextual-popup-nubs/top-left-corner-up.png) no-repeat;
}
/*vertical bottom corners*/
.contextual-popup.left.above.corner {
  border-bottom-right-radius: 0;
}
.contextual-popup.right.above.corner {
  border-bottom-left-radius: 0;
}
.contextual-popup.vertical.left.above.corner::after {
  top: 100%;
  width: 71px;
  height: 20px;
  margin-left: -30px;
  background: transparent url(../images/contextual-popup-nubs/bottom-right-corner-down.png) no-repeat;
}
.contextual-popup.vertical.right.above.corner::after {
  top: 100%;
  left: 0%;
  margin-left: -2px;
  background: transparent url(../images/contextual-popup-nubs/bottom-left-corner-down.png) no-repeat;
}
/*horizontal bottom corners*/
.contextual-popup.left.low.corner {
  border-bottom-left-radius: 0;
}
.contextual-popup.right.low.corner {
  border-bottom-right-radius: 0;
}
.contextual-popup.left.low.corner::after {
  top: 100%;
  left: 0%;
  margin-top: -30px;
  margin-left: -14px;
  background: transparent url(../images/contextual-popup-nubs/bottom-left-corner-left.png) no-repeat;
}
.contextual-popup.right.low.corner::after {
  top: 100%;
  left: 100%;
  margin-top: -30px;
  background: transparent url(../images/contextual-popup-nubs/bottom-right-corner-right.png) no-repeat;
}
/*horizontal top corners*/
.contextual-popup.left.high.corner {
  border-top-left-radius: 0;
}
.contextual-popup.right.high.corner {
  border-top-right-radius: 0;
}
.contextual-popup.left.high.corner::after {
  top: 0%;
  left: 0%;
  margin-top: -2px;
  margin-left: -14px;
  background: transparent url(../images/contextual-popup-nubs/top-left-corner-left.png) no-repeat;
}
.contextual-popup.right.high.corner::after {
  top: 0%;
  left: 100%;
  margin-top: -2px;
  background: transparent url(../images/contextual-popup-nubs/top-right-corner-right.png) no-repeat;
}
/* ContextualPopupDecorator.css */
.contextual-popup-decorator {
  position: relative;
}
/* List.css */
.list-scroll-fade {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  text-align: center;
}
.list-scroll-fade.top {
  top: 0;
}
.list-scroll-fade.bottom {
  bottom: 0;
}
.list-scroll-fade-row {
  position: relative;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
}
.list-scroll-fade-row.row-1 {
  width: 100%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(255, 255, 255, 0)), color-stop(0.5, #c5c5c5), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #c5c5c5, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #c5c5c5, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #c5c5c5, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #c5c5c5, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #c5c5c5, rgba(255, 255, 255, 0));
}
.list-scroll-fade-row.row-2 {
  width: 95%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(255, 255, 255, 0)), color-stop(0.5, #d5d5d5), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #d5d5d5, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #d5d5d5, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #d5d5d5, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #d5d5d5, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #d5d5d5, rgba(255, 255, 255, 0));
}
.list-scroll-fade-row.row-3 {
  width: 85%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(255, 255, 255, 0)), color-stop(0.5, #e5e5e5), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #e5e5e5, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #e5e5e5, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #e5e5e5, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #e5e5e5, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #e5e5e5, rgba(255, 255, 255, 0));
}
.list-scroll-fade-row.row-4 {
  width: 65%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(255, 255, 255, 0)), color-stop(0.5, #f5f5f5), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
}
/* ListHeader.css */
.list-header {
  font-family: 'Mochi Medium';
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  padding: 0 32px 0 32px;
  color: #323232;
}
/* ListHeader.css */
.list-header {
  font-family: 'Mochi Medium';
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  padding: 0 32px 0 32px;
  color: #323232;
}
/* ListItem.css */
.list-item {
  font-family: 'Mochi Medium';
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0 0 48px 32px;
  color: #4b4b4b;
}
.highlight {
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(255, 255, 255, 0)), color-stop(0.5, #f5f5f5), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #f5f5f5, rgba(255, 255, 255, 0));
}
.highlight-border {
  line-height: 4px;
  position: absolute;
  height: 4px;
  margin: 0 112px;
}
.highlight-border:before,
.highlight-border:after {
  position: absolute;
  width: 112px;
  height: 4px;
  content: ' ';
  background-repeat: no-repeat;
}
.highlight-border.top {
  background: url(../images/list/SmallSelectedItem/SmallSelectedListItem_TopMiddle.png) repeat-x;
}
.highlight-border.top:before {
  left: -112px;
  background-image: url(../images/list/SmallSelectedItem/SmallSelectedListItem_TopLeftFade.png);
}
.highlight-border.top:after {
  right: -112px;
  background-image: url(../images/list/SmallSelectedItem/SmallSelectedListItem_TopRightFade.png);
}
.highlight-border.bottom {
  background: url(../images/list/SmallSelectedItem/SmallSelectedListItem_BottomMiddle.png) repeat-x;
}
.highlight-border.bottom:before {
  left: -112px;
  background-image: url(../images/list/SmallSelectedItem/SmallSelectedListItem_BottomLeftFade.png);
}
.highlight-border.bottom:after {
  right: -112px;
  background-image: url(../images/list/SmallSelectedItem/SmallSelectedListItem_BottomRightFade.png);
}
/* wide lists, ie width >= 640px */
.highlight-border.large {
  line-height: 4px;
  position: absolute;
  height: 4px;
  margin: 0 320px;
}
.highlight-border.large:before,
.highlight-border.large:after {
  position: absolute;
  width: 320px;
  height: 4px;
  content: ' ';
  background-repeat: no-repeat;
}
.highlight-border.large.top {
  background: url(../images/list/LargeSelectedItem/LargeSelectedListItem_TopMiddle.png) repeat-x;
}
.highlight-border.top.large:before {
  left: -320px;
  background-image: url(../images/list/LargeSelectedItem/LargeSelectedListItem_TopLeftFade.png);
}
.highlight-border.top.large:after {
  right: -320px;
  background-image: url(../images/list/LargeSelectedItem/LargeSelectedListItem_TopRightFade.png);
}
.highlight-border.bottom.large {
  background: url(../images/list/LargeSelectedItem/LargeSelectedListItem_BottomMiddle.png) repeat-x;
}
.highlight-border.bottom.large:before {
  left: -320px;
  background-image: url(../images/list/LargeSelectedItem/LargeSelectedListItem_BottomLeftFade.png);
}
.highlight-border.bottom.large:after {
  right: -320px;
  background-image: url(../images/list/LargeSelectedItem/LargeSelectedListItem_BottomRightFade.png);
}
/* Panels.css */
.panels > * {
  /* 320px width, plus the 45px overlap */
  /* May need to modify this */
  width: 365px;
  padding-right: 45px;
  /* box-shadow: inset 0 0 169px rgba(0, 0, 0, 0.3); */
  border-left: 1px solid #ccc;
  border-top-left-radius: 45px;
  background-color: #f5f5f5;
}
.base-panel > *:first-child {
  padding-right: 0;
  border-top-left-radius: 0;
}
/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.gridlist {
  font-family: 'Mochi Light';
  background: #ccc;
}
.gridlist-imageitem {
  overflow: visible;
  width: 100%;
  height: 100%;
}
.gridlist-imageitem.selected {
  margin-top: -3px;
  /*Offset the right and bottom padding by adding negative top and left margin*/
  margin-left: -3px;
  padding: 3px;
  background: orange;
}
.gridlist-imageitem img {
  width: 100%;
  height: 100%;
}
.gridlist-imageitem .caption {
  font-family: 'Mochi Light';
  font-size: 10pt;
  font-weight: bold;
  position: relative;
  z-index: 10;
  bottom: 30px;
  overflow: hidden;
  width: 100%;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #555;
  color: #fff;
}
